Repository TheLoooser/Pacman: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, isort

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
    -   id: black
        args: [--line-length=120]
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy --config-file mypy.ini .
        require_serial: true
        pass_filenames: false
        language: python
        types: [ python ]
    -   id: pylint
        name: pylint
        entry: pylint --disable=R --recursive=y --rcfile=.pylintrc .  # --disable=R,C,W0511
        language: system
        types: [python]
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        args: [--profile=black, --line-length=120, --skip=docs]
        exclude: docs
-   repo: https://github.com/thclark/pre-commit-sphinx
    rev: 0.0.1
    hooks:
    -   id: build-docs
        args: ['--cache-dir', 'docs/_build/doctrees', '--html-dir', 'docs/_build/html',  '--source-dir', 'docs']
        language_version: python3
        additional_dependencies: ['sphinx_rtd_dark_mode==1.3.0']

Configure sphinx with dark mode
  .github/workflows/documentation.yml
  .pre-commit-config.yaml
  docs/Characters.rst
  docs/Level.rst
  docs/Logic.rst
  docs/conf.py
  docs/index.rst
  docs/main.rst
  docs/modules.rst
Due: mypy, pylint

Add missing RST files
  docs/characters.rst
  docs/level.rst
  docs/logic.rst
  docs/main.rst
Due: none

Add shield badges
  README.md
  main.py
Due: mypy, pylint, isort

Write basic instructions
  README.md
Due: none

Increase number of lives
  main.py
Due: mypy, pylint, isort

Ignore non game breaking bug
  characters/enemy.py
Due: mypy, pylint, isort

Make score a whole number
  level/menu.py
Due: mypy, pylint, isort

Remove print statement
  logic/checkbox.py
Due: mypy, pylint, isort

Remove ToDo's
  main.py
Due: mypy, pylint, isort

Add screenshots
  README.md
  resources/game_screen.png
  resources/main_menu.png
  resources/matrix_view.png
Due: none
